/* == Base ==== */
body {
	font-family: Roboto, Helvetica, 'sans-serif';
}

/* == Layout ==== */

/* == Modules ==== */
.filterLink {
	margin-left: 4px;
}

.addTodoBtn {
	margin-left: 3px;
}

/* == State == */
.is-todo-complete {
	text-decoration: line-through;
}
